@font-face{
	src: url(Fonts/JosefinSans/JosefinSans-VariableFont_wght.ttf);
	font-family: Josefin
}

body{
	background-color: #bfbfbf;
	font-family: 'josefin_sansthin_italic';
}

nav{
	margin-top: 3%;
}

.title{
	box-sizing: border-box;
	width: 60%;
	margin-left: auto;
	font-weight: 700;
}

.center-box h1{
	margin-top: 0;
	font-size: 4vw;
	font-weight: 700;
}

.center-box{
	position: absolute;
	box-sizing: border-box;
	height: 40%;
	margin: 10%;
	width: 80%;
}

#face{
	width: 40%;
}

.description{
	box-sizing: border-box;
	margin-top: 0;
	margin-left: 1%;
	width: 59%;
	float: right;
	margin-top: auto;
	margin-bottom: auto;
	font-weight: 700;
}

.description p{
	font-size: 2.3vw;
}

nav a{
	margin-left: 30px;
	margin-right: auto;	
	font-weight: 700;
}

@media(max-width: 600px){
	.description{
		float: none;
	}
	#face{
		width: 50%
	}
}
