body{
	background-color: #bfbfbf;
	font-family: 'josefin_sansthin_italic';
	padding: 0;

}

nav{
	margin-top: 3%;
}

nav a{
	margin-left: 10px;
	margin-right: auto;	
}

.center-box{
	position: absolute;
	width: 60%;
	margin-left: 20%;
	margin-top: auto;
	box-sizing: border-box;
}

.center-box p{
	box-sizing: border-box;
	font-size: 2.5vw;
	height: 5%;
	border: 3px solid #bfbfbf;
}

.tile{
	box-sizing: border-box;
	margin-top: 6%;
	width: 100%;
	border: 3px solid #bfbfbf;

}

.center-box img{
	float: left;
	width: 15%;
	height: auto;
	margin-top: auto;
}

@media(max-width: 1000px){
	.tile{
		margin-top: 17%;
		box-sizing: border-box;
		width: 100%;
	}

	.center-box p{
		font-size: 2.5vw;
		height: 5%;
		border: 3px solid #bfbfbf;
	}

	.center-box img{
		float: left;
		width: 28%;
		height: auto;
		margin-top: auto;
	}
}