a {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

a:hover {
    color: grey;
    font-size: 1.8vw;
}

a:active {
    color: black;
}

body {
    margin: 5%;
    background-color: lightgrey;
}

.HP-name {
    font-family: 'josefin_sansthin_italic';
    font-weight: 700;
    font-size: 6vw;
    margin-bottom: 10%;
}

.HP-image {
    width: 45%;
    height: auto;
    float: right;
    border: solid;
}

.HP-hyperlinks {
    font-family: 'josefin_sansthin_italic';
    font-weight: 700;
    font-size: 1.5vw;
}

@media(max-width: 600px) {
	.HP-image{
        float: none;
	}
}
